@using mes.Models.ViewModels
@using System.Collections.Generic
@model List<TotemCalendarEventViewModel>
@{
    string userRoles = ViewBag.userRoles;
    bool authorize = false;
    if(userRoles.Contains("NuovoRuolo")||userRoles.Contains("root")) authorize=true;
}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    @* --- DataTables CSS --- *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<script>
    function conferma() {
            $("#frmAggTotemCalendarEvents").submit();
        }

</script>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiornamento dati</h5>
      </div>
      <div class="modal-body">
        <p>confermi aggiornamento ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
        <button type="button" class="btn btn-outline-success" onclick="conferma()">aggiorna</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<style>
    table, th {
        font-size: 16px;
    }
    input, td {
        font-size: 14px;
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    } 
</style>

<h2>gestione magazzino totemcalendarevents</h2>
<br>
<br>
<h4>totemcalendarevents a magazzino</h4>
<hr>
@using(Html.BeginForm("AggiornaTotemCalendarEvents", "TotemController", FormMethod.Post, new { name = "frmAggTotemCalendarEvents", id = "frmAggTotemCalendarEvents" }))
{
    <table>
        <tr>
            <th style="text-align: center;">eventname</th> 
            <th style="text-align: center;">eventdate</th> 
            <th style="text-align: center;">eventlink</th> 
            <th> </th>
            <th> </th>
        </tr>
            @for(int x=0; x<Model.Count; x++)
            {
                //int quan = Convert.ToInt16(Model[x].Quantita);
                //int qMin = Convert.ToInt16(Model[x].QuantitaMin);
                //string color=( quan > qMin)? "none" : "orange";
                string color ="none";
                <tr>
                    @if(!authorize)
                    {
                        <td><input readonly style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].EventName class="form-control" value=@Model[x].EventName  /></td>
                        <td><input readonly style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].EventDate class="form-control" value=@Model[x].EventDate  /></td>
                        <td><input readonly style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].EventLink class="form-control" value=@Model[x].EventLink  /></td>
                        <td> </td>
                        <td> </td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id readonly /></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }
                    else
                    {
                        <td><input style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].EventName class="form-control" value=@Model[x].EventName readonly /></td>
                        <td><input style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].EventDate class="form-control" value=@Model[x].EventDate readonly /></td>
                        <td><input style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].EventLink class="form-control" value=@Model[x].EventLink readonly /></td>
                        <td style="padding-left: 25px;"><a asp-controller="TotemController" asp-action="ModTotemCalendarEvent" asp-route-id="@Model[x].id"><i class="material-icons text-warning">&#xE254;</i></a></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id /></td>                         
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }                   
                </tr>
            }    
    </table>
    <br>
    <br>
    @if(authorize)
    {
        <div class="row">
            <div class="col-md-3 d-grid">
                <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">aggiorna</button>          
            </div>
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-success btn-block" asp-controller="TotemCalendarEvents" asp-action="InsertCalendarEvent">crea nuovo totemcalendarevent</a>
            </div>    
        </div>  
    }
}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
