@using mes.Models.ViewModels
@using System.Collections.Generic
@model List<DipendenteViewModel>
@{
    string userRoles = ViewBag.userRoles;
    bool authorize = false;
    if(userRoles.Contains("AnagraficheScrivi")||userRoles.Contains("root")) authorize=true;
}

<script>
    function cancella(id, nome, altezza)
    {
        var redirection ="";
        if(confirm("confermi cancellazione dipendente: \n" + nome + " -altezza- " + altezza +" ?")){
            $.get("/Erp/CancDipendente/" + id);
        } else {
            return;
        }
    }

    function conferma() {
            $("#frmAggDipendenti").submit();
        }

</script>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiornamento dati</h5>
      </div>
      <div class="modal-body">
        <p>confermi aggiornamento ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
        <button type="button" class="btn btn-outline-success" onclick="conferma()">aggiorna</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<style>
    table, th {
        font-size: 16px;
    }
    input, td {
        font-size: 14px;
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    } 
</style>

<h2>gestione anagrafica dipendenti</h2>
<br>
<br>
<h4>dipendenti in anagrafica</h4>
<hr>
@using(Html.BeginForm("AggiornaDipendenti", "Erp", FormMethod.Post, new { name = "frmAggDipendenti", id = "frmAggDipendenti" }))
{
    <table>
        <tr>
            <th style="text-align: center;">nome</th> 
            <th style="text-align: center;">cognome</th> 
            <th style="text-align: center;">data assunzione</th> 
            <th style="text-align: center;">matricola</th> 
            <th style="text-align: center;">username</th>
            <th style="text-align: center;">email di notifica</th> 
            <th style="text-align: center;">ruolo</th>
            <th style="text-align: center;">ab.prod</th>
            <th style="text-align: center;">abil.qual</th>
            <th style="text-align: center;">enabled</th> 
            <th> </th>
            <th> </th>
        </tr>
            @for(int x=0; x<Model.Count; x++)
            {
                //int quan = Convert.ToInt16(Model[x].Quantita);
                //int qMin = Convert.ToInt16(Model[x].QuantitaMin);
                //string color=( quan > qMin)? "none" : "orange";
                <tr>
                    @if(!authorize)
                    {
                        <td><input readonly style="width: 180px; text-align:center;" type="text" asp-for=@Model[x].Nome class="form-control" value=@Model[x].Nome  /></td>
                        <td><input readonly style="width: 180px; text-align:center;" type="text" asp-for=@Model[x].Cognome class="form-control" value=@Model[x].Cognome  /></td>
                        <td><input readonly style="width: 130px; text-align:center;" type="text" asp-for=@Model[x].DataAssunzione class="form-control" value=@Model[x].DataAssunzione  /></td>
                        <td><input readonly style="width: 80px; text-align:center;" type="text" asp-for=@Model[x].Matricola class="form-control" value=@Model[x].Matricola  /></td>
                        <td><input readonly style="width: 230px; text-align:center;" type="text" asp-for=@Model[x].Username class="form-control" value=@Model[x].Username  /></td>
                        <td><input readonly style="width: 230px; text-align:center;" type="text" asp-for=@Model[x].NotifyAddress class="form-control" value=@Model[x].NotifyAddress  /></td>
                        <td><input readonly style="width: 230px; text-align:center;" type="text" asp-for=@Model[x].Ruolo class="form-control" value=@Model[x].Ruolo  /></td>   
                        <td><input readonly style="width: 80px; text-align:center;" type="text" asp-for=@Model[x].EnabledProduzione class="form-control" value=@Model[x].EnabledProduzione  /></td>
                        <td><input readonly style="width: 80px; text-align:center;" type="text" asp-for=@Model[x].EnabledQuality class="form-control" value=@Model[x].EnabledQuality  /></td>                 
                        <td> </td>
                        <td> </td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id readonly /></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }
                    else
                    {
                        <td><input style="width: 180px;" type="text" asp-for=@Model[x].Nome class="form-control" value=@Model[x].Nome readonly /></td>
                        <td><input style="width: 180px;" type="text" asp-for=@Model[x].Cognome class="form-control" value=@Model[x].Cognome readonly /></td>
                        <td><input style="width: 130px;" type="text" asp-for=@Model[x].DataAssunzione class="form-control" value=@Model[x].DataAssunzione readonly /></td>
                        <td><input style="width: 80px;" type="text" asp-for=@Model[x].Matricola class="form-control" value=@Model[x].Matricola readonly /></td>
                        <td><input style="width: 230px;" type="text" asp-for=@Model[x].Username class="form-control" value=@Model[x].Username readonly /></td>
                        <td><input style="width: 230px; text-align:center;" type="text" asp-for=@Model[x].NotifyAddress class="form-control" value=@Model[x].NotifyAddress readonly/></td>
                        <td><input style="width: 230px;" type="text" asp-for=@Model[x].Ruolo class="form-control" value=@Model[x].Ruolo readonly /></td>
                        <td><input readonly style="width: 80px; text-align:center;" type="text" asp-for=@Model[x].EnabledProduzione class="form-control" value=@Model[x].EnabledProduzione  /></td>
                        <td><input readonly style="width: 80px; text-align:center;" type="text" asp-for=@Model[x].EnabledQuality class="form-control" value=@Model[x].EnabledQuality  /></td>                         
                        <td><input style="width: 80px;" type="text" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly /></td>
                        <td style="padding-left: 25px;"><a asp-controller="Erp" asp-action="ModDipendente" asp-route-id="@Model[x].id"><i class="material-icons text-warning">&#xE254;</i></a></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id /></td>                         
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }                   
                </tr>
            }    
    </table>
    <br>
    <br>
    @if(authorize)
    {
        <div class="row">
            <!-- div class="col-md-3 d-grid">
                <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">aggiorna</button>          
            </div -->
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-success btn-block" asp-controller="Erp" asp-action="InsertDipendente">crea nuovo dipendente</a>
            </div>    
        </div>  
    }
}
