@{
    ViewData["Title"] = "Home Page";
    string userRoles = ViewBag.userRoles;
}

<div class="container">
    <br>
    <br>
    
    <div class="row">

        <div class="col-md-4 d-grid">
            <a class="btn btn-primary btn-lg btn-block" asp-controller="Erp" asp-action="MainPermessi">Permessi e ferie</a>
        </div>

    </div>
</div>