<div class="container">
<h2>indice mes</h2>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-address-card fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>anagrafiche</h5>
    </div>
    <div class="col-md-3 d-grid" align="center">
        <a class="btn btn-outline-primary btn-block" asp-controller="DataInput" asp-action="AnagraficheMain">gestione anagrafiche</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-people-arrows fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>commesse</h5>
    </div>
    <div class="col-md-3 d-grid" align="center">
        <a class="btn btn-outline-primary btn-block" asp-controller="PfcController" asp-action="Index">gestione commesse</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>lavorazioni</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block"  asp-controller="DataInput" asp-action="MainLavorazioni">gestione lavorazioni</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-arrow-right-arrow-left fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>assegnamenti</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-secondary btn-block" asp-controller="DataInput" asp-action="">gestione assegnamenti</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-truck fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>stato commesse</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-secondary btn-block" asp-controller="" asp-action="">stato commesse</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-file-invoice fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>richieste di produzione</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Production" asp-action="Index">richieste di produzione</a>
    </div>
</div>


    
    
