@using mes.Models.ViewModels
@using System.Collections.Generic

@model List<UserDbMovementsViewModel>

<h3>Attività utenti</h3>
<br>
<br>
<div class="row">
    <div class="col-md-2">
        <h5>utente</h5>
    </div>
    <div class="col-md-2">
        <h5>ultima modifica</h5>
    </div>
    <div class="col-md-2">
        <h5>totale modifiche</h5>
    </div>
    <div class="col-md-6">
        <h5>dettagli modifica</h5>
    </div>            
</div>
<hr>
@foreach(UserDbMovementsViewModel oneMov in Model)
{
string user = oneMov.User.Split('@')[0];
<div class="row">
    <div class="col-md-2">
        <h5>@user</h5>
    </div>
    <div class="col-md-2">
        <h5>@oneMov.LastMod</h5>
    </div>
    <div class="col-md-2">
        <h5>@oneMov.TotalMods</h5>
    </div>
    <div class="col-md-6">
        <h5>@oneMov.LastModDetails</h5>
    </div>            
</div>
<hr>
}