@using mes.Models.ViewModels
@using System.Collections.Generic

@model List<UserDbMovementsViewModel>

<h3>Attività utenti</h3>
<br>
<br>
<div class="row">
    <div class="col-md-2" style="text-align: center;">
        <h6>utente</h6>
    </div>
    <div class="col-md-2" style="text-align: center;">
        <h6>ultima modifica</h6>
    </div>
    <div class="col-md-1" style="text-align: center;">
        <h6>totale modifiche</h6>
    </div>
    <div class="col-md-7">
        <h6>dettagli modifica</h6>
    </div>            
</div>
<hr>
@foreach(UserDbMovementsViewModel oneMov in Model)
{
string user = oneMov.User.Split('@')[0];
<div class="row">
    <div class="col-md-2">
        @user
    </div>
    <div class="col-md-2">
        @oneMov.LastMod
    </div>
    <div class="col-md-1" style="text-align: center;">
        @oneMov.TotalMods
    </div>
    <div class="col-md-7">
        @oneMov.LastModDetails
    </div>            
</div>
<hr>
}