<!-- This script got from frontendfreecode.com -->
<div class="container pt-2" style="background-color:#FBFBF9;">
    <div class="row row-cols-1 row-cols-md-2 gy-3">
        <div class="col">
            <div class="card">
                <div class="row g-0">
                    <div class="col-6">
                        <!-- img src="http://frontendfreecode.com/img/comm-2.jpg" class="img-fluid d-flex mx-auto h-100" -->
                        <i class="fa-solid fa-warehouse"></i>
                    </div>
                    <div class="col-6">
                        <div class="card-body bg-light pb-0" style="display:flex;justify-content:space-between;align-items:center;flex-direction:column;">
                            <h5>Title A</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi</p>
                            <a class="btn btn-warning btn-sm w-75 w-md-50 d-block mx-auto my-1" href="http://www.frontendfreecode.com/" role="button">Click me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="row g-0">
                    <div class="col-6">
                        <img src="http://frontendfreecode.com/img/comm-1.jpg" class="img-fluid d-flex mx-auto h-100">
                    </div>
                    <div class="col-6">
                        <div class="card-body bg-light pb-0" style="display:flex;justify-content:space-between;align-items:center;flex-direction:column;">
                            <h5>Title B</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi</p>
                            <a class="btn btn-warning btn-sm w-75 w-md-50 d-block mx-auto my-1" href="http://www.frontendfreecode.com/" role="button">Click me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><a style="font-size: 8pt; text-decoration: none" target="_blank" href="http://frontendfreecode.com">Free Frontend</a>