

<h2>programmi disponibili</h2>
<br>
<br>
<br>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-tape fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>gestione magazzino bordi</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Programs" asp-action="MagBordi">magazzino bordi</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-jar fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>gestione magazzino colla</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Programs" asp-action="MagColle">magazzino colla</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-layer-group fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>gestione magazzino pannelli</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block"  asp-controller="Programs" asp-action="MagPannelli" asp-route-tipoMateriale="tutti">magazzino pannelli</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-hammer fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>gestione magazzino semilavorati</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Programs" asp-action="MainSemilavorati" asp-route-cliente="tutti">magazzino semilavorati</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-tree fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>gestione magazzino legno</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-secondary btn-block" asp-controller="Programs" asp-action="" disabled>magazzino legno</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-chart-gantt fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>gestione calendario macchine</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Test" asp-action="Index" >calendario produzione</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <!-- fa-warehouse-->
        <i class="fa-solid fa-boxes-stacked fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>dashboard materiali</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-success btn-block" asp-controller="Programs" asp-action="DashboardMateriali" >dashboard materiali</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <!-- fa-warehouse-->
        <i class="bi bi-wrench" style="font-size:28px;padding-top:-10px;"></i>
    </div>
    <div class="col-md-4">
        <h5>dashboard commesse</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-success btn-block" asp-controller="Production" asp-action="Index" >richieste produzione</a>
    </div>
</div>



