<h2>gestione pianificazione</h2>
<br>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-chart-gantt fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>calendario macchine</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Test" asp-action="Index" >calendario produzione</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-chart-gantt fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>permessi e ferie</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Erp" asp-action="MainPermessi" >permessi e ferie</a>
    </div>
</div>