@using mes.Models.ViewModels
@using System.Collections.Generic
@model MatPannelloViewModel
@{
    List<MatPannelloViewModel> MatPannelliList = ViewBag.MatPannelliList;
    string errorMessage = ViewBag.errorMessage;
    }


<script>

    var message = '@errorMessage';
    if(message)
    {
        alert("nome materiale già presente");
    }

function conferma() {

        if(!$("#NomeMateriale").val()) {
            alert("campo 'NomeMateriale' vuoto");
            $("#confirmationModal").modal('toggle');
            return;
        }
        if(!$("#Enabled").val()) {
            alert("campo 'Enabled' vuoto");
            $("#confirmationModal").modal('toggle');
            return;
        }
        $("#frmInsMatPannello").submit();
    }

</script>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Creazione nuovo materiale</h5>
      </div>
      <div class="modal-body">
        <p>confermi creazione nuovo materiale?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
        <button type="button" class="btn btn-outline-success" onclick="conferma()">salva</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->


<div class="row align-items-start">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-pallet fa-3x"></i>
    </div>
    <div class="col-md-4">
        <h3>crea nuovo materiale</h3>
    </div>
</div>
<br>
<br>
<hr>
@using(Html.BeginForm("InsertMatPannello", "Programs", FormMethod.Post, new { name = "frmInsMatPannello", id = "frmInsMatPannello" }))
{
    <table>
        <tr>
            <th style="text-align: center;">nome materiale</th>
            <th style="text-align: center;">abilitato</th>
        </tr>
        <tr>
            <td><input id="NomeMateriale" style="width: 130px;" type="text" asp-for=@Model.Nome class="form-control" required/></td>
            <td><input id="Enabled" style="width: 130px; text-align: center;" type="text" asp-for=@Model.Enabled class="form-control" required/></td>
        </tr> 
    </table>
    <br>
    <br>

    <div class="row">
        <div class="col-md-3 d-grid">
            <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">salva</button>            
        </div>
        <div class="col-md-3 d-grid">
            <a class="btn btn-outline-secondary btn-block" asp-controller="Programs" asp-action="MainMatPannelli">annulla</a>
        </div>             
    </div>  
}

<hr>
<h4>lista materiali presenti</h4>
<br>
<table>
        <tr>
            <th style="text-align: center;">nome materiale</th> 
            <th style="text-align: center;">abilitato</th> 
        </tr>
        @foreach (MatPannelloViewModel oneModel in MatPannelliList)
        {
            <tr>
                <td><input style="width: 130px;" type="text" asp-for=@oneModel.Nome class="form-control" value=@oneModel.Nome readonly /></td> 
                <td><input style="width: 130px; text-align: center;" type="text" asp-for=@oneModel.Enabled class="form-control" value=@oneModel.Enabled readonly /></td> 
            </tr>  
        }        

    
</table>
