@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confermata";
}

<h1>@ViewData["Title"]</h1>
<br>
<p>La tua email è stata confermata. Se vuoi <a asp-page="./Login">clicca qui per accedere</a>.</p>