@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Conferma cambio password";
}

<h1>@ViewData["Title"]</h1>
<p>
    La tua password è stata cambiata. Se vuoi <a asp-page="./Login">clicca qui per accedere</a>.
</p>
