<h1>Index Pfc</h1>
<br>
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-outline-primary btn-block" asp-controller="Pfc" asp-route-action="InsertPfc">inserisci pfc</a>
    </div>
</div>