@using mes.Models.ViewModels
@using mes.Models.InfrastructureModels
@using System.Collections.Generic

@model List<PfcModel>
@{
    string userRoles = ViewBag.userRoles;
    bool authorize = false;
    if(userRoles.Contains("NuovoRuolo")||userRoles.Contains("root")) authorize=true;
}

<script>
    function conferma() {
            $("#frmAggCommesse").submit();
        }

</script>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiornamento dati</h5>
      </div>
      <div class="modal-body">
        <p>confermi aggiornamento ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
        <button type="button" class="btn btn-outline-success" onclick="conferma()">aggiorna</button>
      </div>
    using mes.Models.InfrastructureModels;
    </div>
  </div>
</div>
<!-- Modal end -->

<style>
    table, th {
        font-size: 16px;
        text-align: center;
    }
    input, td {
        font-size: 14px;
        width: 230px;
        background-color: none;
        text-align: center;
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    } 
</style>

<h2>gestione magazzino commesse</h2>
<br>
<br>
<h4>commesse a magazzino</h4>
<hr>
@using(Html.BeginForm("AggiornaCommesse", "PfcController", FormMethod.Post, new { name = "frmAggCommesse", id = "frmAggCommesse" }))
{
    <table>
        <tr>
            <th >numero commessa</th> 
            <th >cliente</th> 
            <th >rif. esterno</th> 
            <th >data consegna</th> 
            <!-- th >lavorazioni</th --> 
            <th >enabled</th> 
            <th> </th>
            <th> </th>
        </tr>
            @for(int x=0; x<Model.Count; x++)
            {
                <tr>
                    @if(!authorize)
                    {
                        <td><input readonly  type="text" asp-for=@Model[x].NumeroCommessa class="form-control" value=@Model[x].NumeroCommessa  /></td>
                        <td><input readonly  type="text" asp-for=@Model[x].Cliente class="form-control" value=@Model[x].Cliente  /></td>
                        <td><input readonly  type="text" asp-for=@Model[x].RifEsterno class="form-control" value=@Model[x].RifEsterno  /></td>
                        <td><input readonly  type="text" asp-for=@Model[x].DataConsegna class="form-control" value=@Model[x].DataConsegna  /></td>
                        <td><input readonly  type="text" asp-for=@Model[x].LavorazioniJsonString class="form-control" value=@Model[x].LavorazioniJsonString  /></td>
                        <!-- td><input readonly  type="text" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled  /></td -->
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id readonly /></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }
                    else
                    {
                        <td><input type="text" asp-for=@Model[x].NumeroCommessa class="form-control" value=@Model[x].NumeroCommessa readonly /></td>
                        <td><input type="text" asp-for=@Model[x].Cliente class="form-control" value=@Model[x].Cliente readonly /></td>
                        <td><input type="text" asp-for=@Model[x].RifEsterno class="form-control" value=@Model[x].RifEsterno readonly /></td>
                        <td><input type="text" asp-for=@Model[x].DataConsegna class="form-control" value=@Model[x].DataConsegna readonly /></td>
                        <!-- td><input type="text" asp-for=@Model[x].LavorazioniJsonString class="form-control" value=@Model[x].LavorazioniJsonString readonly /></td -->
                        <td><input type="text" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly /></td>
                        <td style="padding-left: 25px;"><a asp-controller="Pfc" asp-action="ModPfc" asp-route-inputId="@Model[x].id"><i class="material-icons text-warning">&#xE254;</i></a></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id /></td>                         
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }                   
                </tr>
            }    
    </table>
    <br>
    <br>
    @if(authorize)
    {
        <div class="row">
            <div class="col-md-3 d-grid">
                <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">aggiorna</button>          
            </div>
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-success btn-block" asp-controller="Pfc" asp-action="InsertPfc">crea nuovo commessa</a>
            </div>    
        </div>  
    }
}