<div class="container">
<div class="row align-items-start">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-address-card fa-3x"></i>
    </div>
    <div class="col-md-4">
        <h3>gestione anagrafiche</h3>
    </div>
</div>
<br>
<br>
<hr>
<div class="row">
    <div class="col-md-1">
        <i class="fa-solid fa-people-group fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>clienti</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="DataInput" asp-action="Customers">gestione clienti</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1">
        <i class="fa-solid fa-pallet fa-2xl"></i>
    </div>
    <div class="col-md-4">
        <h5>materiali</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Programs" asp-action="MainMatPannelli">gestione materiali pannelli</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1">
        <i class="fa-solid fa-user-helmet-safety"></i>
    </div>
    <div class="col-md-4">
        <h5>dipendenti</h5>
    </div>
    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary btn-block" asp-controller="Erp" asp-action="MainDipendenti">anagrafica dipendenti</a>
    </div>
</div>
