



@using mes.Models.ViewModels
@using System.Collections.Generic
@model List<LavorazioneViewModel>
@{
    string userRoles = ViewBag.userRoles;
    bool authorize = false;
    if(userRoles.Contains("NuovoRuolo")||userRoles.Contains("root")) authorize=true;
}

<script>
    function conferma() {
            $("#frmAggLavorazioni").submit();
        }

</script>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiornamento dati</h5>
      </div>
      <div class="modal-body">
        <p>confermi aggiornamento ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
        <button type="button" class="btn btn-outline-success" onclick="conferma()">aggiorna</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<style>
    table, th {
        font-size: 16px;
    }
    input, td {
        font-size: 14px;
        text-align: center;
        width: 230px;
        background-color: none;
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    } 
</style>

<h2>gestione  lavorazioni</h2>
<br>
<br>
<h4>lavorazioni presenti</h4>
<hr>
@using(Html.BeginForm("AggiornaLavorazioni", "DataInput", FormMethod.Post, new { name = "frmAggLavorazioni", id = "frmAggLavorazioni" }))
{
    <table>
        <tr>
            <th style="text-align: center;">nome lavorazione</th> 
            <th style="text-align: center;">codice lavorazione</th> 
            <th style="text-align: center;">abilitata</th> 
            <th> </th>
            <th> </th>
        </tr>
            @for(int x=0; x<Model.Count; x++)
            {
                //int quan = Convert.ToInt16(Model[x].Quantita);
                //int qMin = Convert.ToInt16(Model[x].QuantitaMin);
                //string color=( quan > qMin)? "none" : "orange";
                string color= "none";
                <tr>
                    @if(!authorize)
                    {
                        <td><input readonly type="text" asp-for=@Model[x].NomeLavorazione class="form-control" value=@Model[x].NomeLavorazione  /></td>
                        <td><input readonly type="text" asp-for=@Model[x].CodiceLavorazione class="form-control" value=@Model[x].CodiceLavorazione  /></td>
                        <td><input readonly type="text" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled  /></td>
                        <td> </td>
                        <td> </td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id readonly /></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }
                    else
                    {
                        <td><input type="text" asp-for=@Model[x].NomeLavorazione class="form-control" value=@Model[x].NomeLavorazione readonly /></td>
                        <td><input type="text" asp-for=@Model[x].CodiceLavorazione class="form-control" value=@Model[x].CodiceLavorazione readonly /></td>
                        <td><input type="text" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly /></td>
                        <td style="padding-left: 25px;"><a asp-controller="DataInput" asp-action="ModLavorazione" asp-route-id="@Model[x].id"><i class="material-icons text-warning">&#xE254;</i></a></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id /></td>                         
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }                   
                </tr>
            }    
    </table>
    <br>
    <br>
    @if(authorize)
    {
        <div class="row">
            <div class="col-md-3 d-grid">
                <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">aggiorna</button>          
            </div>
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-success btn-block" asp-controller="DataInput" asp-action="InsertLavorazione">crea nuovo lavorazione</a>
            </div>    
        </div>  
    }
}
